h1 {
  font-family: 'Qwitcher Grypen', serif;
  font-size: 112px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.title-area {
  background-image: url(../../images/bread.jpeg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 54%;
}

