.add-to-cart {
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  text-align: left;
  width: 100%;
}
.add-to-cart:hover,
.add-to-cart:focus {
  background-color: #f0f0f0;
  border-color: darkolivegreen;
}
.add-to-cart div {
  margin-top: 8px;
}
.price {
  color: #666;
  font-style: italic;
}
