body{
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial';
  padding: 16px;
}

h1{
  font-family: "Qwitcher Grypen";
  font-size: 104px;
}

h2{
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 4px;
  font-size: 24px;
}
h3{
  font-weight: bold;
  font-size: 16px;
}

div{
  margin-top: 32px;
}
section{
  margin: 32px auto;
  max-width: 808px;
}

p{
  margin-bottom: 8px;
}

.container{
  border-bottom: 4px solid #ccc;
}

.title{
background-image: url(./images/bread.jpeg);
background-position-x: right;
background-position-y: center;
background-repeat: no-repeat;
background-size: contain;
padding-right: 54%;
}

.menu-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.menu-options li {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 24px;
  width:48%;
}
.menu-options li:nth-child(odd) {
  margin-right: 24px;
}
.add-to-cart{
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #eee;
  padding: 8px;
  cursor: pointer;
}

.add-to-cart:hover,
.add-to-cart:focus {
  background-color: #f0f0f0;
  border-color: darkolivegreen;
}

.add-to-cart div {
  margin-top: 8px;
}

.price{
    color: #666;
    font-style: italic;
}