
section {
  margin: 32px auto;
  max-width: 808px;
}
.menu-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.menu-options li {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 24px;
  width: 48%;
}
.menu-options li:nth-child(odd) {
  margin-right: 24px;
}

